extends layout

block content
  h1(class="welcome") #{title} says Hi!
  p(class="welcome") In this news service you can read fabricated news and add your own if you see fit.
  p(class="welcome") If you wish to read interesting news, just navigate to the news section. There you can find some interesting news, divided into verified and non-verified sections.
  p(class="welcome") If you wish to add some news of your own, you have to take a poll and only then will the adding form open to you. Each user can only vote and add one news per day. Each news will have to be verified by the admin in order to appear in the news section, under a verified tag.
  p(class="welcome") Enjoy your readings!